---
import { Image } from "astro:assets";
interface Props {
  imagePath?: string;
  title?: string;
  altText?: string;
  subtitle?: string;
  cta?: {
    title?: string;
    target?: {
      title?: string;
    };
  };
}

const { imagePath, title, altText, subtitle } = Astro.props;

const images = import.meta.glob("/src/assets/**/*.{jpeg,jpg,png,gif}");
if (imagePath && !images[imagePath]) {
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/assets/*.{jpeg,jpg,png,gif}"`
  );
}
---

<div
  class="relative flex max-h-svh min-h-[30svh] items-center bg-gray-500 md:min-h-[60svh]"
>
  {
    imagePath && images[imagePath] && (
      <>
        <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
          <Image
            class="h-full w-full border-none object-cover object-center shadow-none"
            src={images[imagePath]()}
            alt={altText || ""}
            loading="eager"
          />
        </div>
        <div
          aria-hidden="true"
          class="absolute inset-0 bg-neutral-800 opacity-20"
        />
      </>
    )
  }

  <div
    class="relative mx-auto flex max-w-3xl flex-col items-center px-6 text-center font-mono [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)] lg:px-0"
  >
    {
      title && (
        <h1 class="py-4 font-mono text-3xl font-extrabold tracking-widest text-white sm:text-5xl lg:text-6xl">
          {title}
        </h1>
      )
    }
    {
      subtitle && (
        <>
          <hr class="my-0 h-1 w-32 rounded border-0 bg-white bg-blend-darken shadow-2xl shadow-black" />
          <div class="py-4 text-xl font-bold text-white sm:text-2xl lg:text-4xl">
            {subtitle}
          </div>
        </>
      )
    }
    {
      /* TODO: Implement CTA functionality
      cta && (
        <a
          href={cta.href}
          class="mt-8 inline-block rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-gray-900 hover:bg-gray-100"
        >
          {cta.title || cta.target?.title}
        </a>
      )
      */
    }
  </div>
</div>
